<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/welcome" routerLinkActive="active">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAnimate" routerLinkActive="active">3a</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAnimateb" routerLinkActive="active">3b</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAnimatec" routerLinkActive="active">3c</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAnimated" routerLinkActive="active">3d</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAngularAnimations" routerLinkActive="active">4a</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAngularAnimationsb" routerLinkActive="active">4b</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAngularAnimationsc" routerLinkActive="active">4c</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLink="/whyAngularAnimationsd" routerLinkActive="active">4d</a>
        </li>                        
        <li class="nav-item">
          <a class="nav-link" routerLink="/angularAnimations" routerLinkActive="active">5a</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angularAnimationsb" routerLinkActive="active">5b</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angularAnimationsc" routerLinkActive="active">5c</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angularAnimationsd" routerLinkActive="active">5d</a>
        </li>                
        <li class="nav-item">
          <a class="nav-link" routerLink="/angularAnimationse" routerLinkActive="active">5e</a>
        </li>                
        <li class="nav-item">
          <a class="nav-link" routerLink="/angularAnimationsf" routerLinkActive="active">5f</a>
        </li>                
        <li class="nav-item">
          <a class="nav-link" routerLink="/examples" routerLinkActive="active">6a</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/examplesb" routerLinkActive="active">6b</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/examplesc" routerLinkActive="active">6c</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/examplesd" routerLinkActive="active">6d</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reuseable" routerLinkActive="active">7a</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reuseablec" routerLinkActive="active">7b</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reuseableb" routerLinkActive="active">7c</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/routerAnimations" routerLinkActive="active">8</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diving" routerLinkActive="active">9</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/thanku" routerLinkActive="active">10</a>
        </li>
      </ul>
    </div>
  </nav>

  <div [@routeAnimations]="o && o.activatedRouteData 
        && o.activatedRouteData['animation']">
      <router-outlet #o="outlet"></router-outlet>
  </div>