<div class="navbar">
    <ul>
        <li routerLink="/welcome">Welcome</li>
        <li routerLink="/about">About Me</li>
        <li routerLink="/whyAnimate">Why Animate?</li>
        <li routerLink="/whyAngularAnimations">Why Angular Animations?</li>
        <li routerLink="/angularAnimations">Angular Animations</li>
        <li routerLink="/examples">Examples</li>
        <li routerLink="/reuseable">Reusable Animations</li>
        <li routerLink="/routerAnimations">Router Animations</li>
        <li routerLink="/diving">Diving</li>
        <li routerLink="/thanku">Thank U!</li>
    </ul>
</div>
<router-outlet></router-outlet>