/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://bootswatch.com/4/lux/bootstrap.css');
@import url('https://bootswatch.com/_assets/css/custom.min.css');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: unset;
}

.navbar {
    overflow-x:  auto;
}

.page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 80%;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255,255,255,.4);
}

.slide-text {
    width: 100%;
    padding: 40px;
    font-size: 24px;
}

.scroll {
    overflow-x: auto;
}

.horizontal {
    display: inline-block;
}

.image-container {
    width: 100%;
}
.slide-image img {
    height: 400px;
}

.slide-result {
    width: 200px;
    height: 200px;
    background: white;
    border: 5px solid black;
}